@font-face {
  font-family: Ailerons-Typeface;
  src: url(Ailerons-Typeface.otf); }
@font-face {
  font-family: Nexa-Light;
  src: url(Nexa-Light.otf); }
body {
  background: #0a1b6a;
  font-family: Ailerons-Typeface; }

a {
  text-align: center;
  font-family: Ailerons-Typeface;
  font-size: 1.5em;
  text-decoration: none; }

#navbar-header {
  width: 1280px;
  height: 59.42857px;
  position: absolute;
  margin-left: -5em; }
  #navbar-header #logo {
    width: 256px;
    margin-left: 1em;
    position: relative;
    margin-right: 5em;
    font-weight: normal;
    color: #0a1b6a;
    float: left; }
    #navbar-header #logo a {
      font-size: 2.5em;
      font-weight: bold;
      color: #0a1b6a; }
  #navbar-header #other-navbar {
    left: 10em;
    width: 768px;
    display: inline-block;
    background-color: pink; }

#picture-background {
  width: totalWidth;
  height: 520px;
  background-image: url("../img/Destinator-Cover.png");
  background-size: cover;
  background-repeat: no-repeat; }

.signin {
  background-color: #0a1b6a;
  font-family: 'Montserrat', sans-serif;
  color: #fff;
  font-size: 14px;
  letter-spacing: 1px; }

#login-background {
  background-image: url("../img/Destinator-Cover.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  font-family: Raleway, Open Sans, Droid Sans, Roboto,arial, sans-serif; }

.blurred-bg {
  background-image: url("../img/Destinator-Cover_blur.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed; }
  .blurred-bg .tinted {
    background-image: linear-gradient(0deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), url("../img/Destinator-Cover_blur.png"); }
  .blurred-bg .shaded {
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("../img/Destinator-Cover_blur.png"); }

.box {
  width: 500px;
  height: 300px;
  left: -webkit-calc( 50% - 250px );
  top: 20%;
  position: absolute;
  border-radius: 5px;
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.6);
  border: 1px solid rgba(255, 255, 255, 0.3);
  padding: 20px;
  text-align: center;
  box-sizing: border-box;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.4); }
  .box:active {
    cursor: move; }

h1, h2, a, p, button {
  color: white;
  font-weight: 100; }
  .tinted h1, .tinted h2, .tinted a, .tinted p, .tinted button {
    color: black;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.2); }

p {
  margin: 20px; }

.center {
  margin: 0 auto; }

.login {
  position: relative;
  left: 13em;
  top: 2em;
  height: 390px;
  width: 320px;
  box-shadow: 0px 30px 60px -5px #000; }
  .login h2 {
    padding-left: 0.4em;
    font-size: 1.2em;
    text-transform: uppercase;
    padding-bottom: 5px;
    letter-spacing: 2px;
    display: inline-block;
    font-weight: 100; }
    .login h2.active {
      border-bottom: 2px solid #1161ed; }
    .login h2.nonactive {
      color: rgba(255, 255, 255, 0.2); }
    .login h2:first-child {
      padding-left: 0px; }
    .login h2 > a {
      text-decoration: none; }
  .login p {
    color: white; }
  .login form span {
    color: rgba(255, 255, 255, 0.2);
    text-transform: uppercase;
    font-size: 1em;
    opacity: 0.4;
    display: inline-block;
    position: relative;
    top: -50px;
    transition: all 0.5s ease-in-out; }
  .login form .text {
    border: none;
    width: 100%;
    mrgin-left: 0px;
    padding-left: 0px;
    display: block;
    height: 15px;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.1);
    border: 2px solid rgba(255, 255, 255, 0);
    overflow: hidden;
    margin-top: 5px;
    transition: all 0.5s ease-in-out; }
    .login form .text:focus {
      outline: 0;
      border: 2px solid rgba(255, 255, 255, 0.5);
      border-radius: 20px;
      background: transparent; }
      .login form .text:focus + span {
        opacity: 0.6; }
  .login #input-holder {
    width: 234.66667px;
    margin-left: 1.2em; }
  .login button {
    background: #0a1b6a;
    width: 234.66667px;
    margin-left: 1.2em; }
  .login a {
    color: white;
    font-size: 1em; }

.login-form {
  height: 450px; }

input[type="text"],
input[type="password"] {
  font-family: 'Montserrat', sans-serif;
  color: #fff; }

input {
  display: inline-block;
  padding-top: 10px;
  font-size: 14px; }

h2,
span,
.custom-checkbox {
  margin-left: 20px; }

label {
  display: inline-block;
  padding-top: 10px;
  padding-left: 5px; }

.signin {
  background-color: #1161ed;
  color: #FFF;
  width: 100%;
  padding: 10px 20px;
  display: block;
  height: 39px;
  border-radius: 20px;
  margin-top: 20px;
  transition: all 0.5s ease-in-out;
  border: none;
  text-transform: uppercase; }

.signin:hover {
  background: #4082f5;
  box-shadow: 0px 4px 35px -5px #4082f5;
  cursor: pointer; }

.signin:focus {
  outline: none; }

hr {
  border: 1px solid rgba(255, 255, 255, 0.1);
  top: 50px;
  position: relative; }

/* section form */
.button {
  padding: 2em 0;
  display: inline-block;
  margin-left: 33%; }

.btn {
  text-align: center;
  border: 1px solid white;
  color: white;
  border-radius: 3em;
  background: transparent;
  padding: 2em;
  width: 240px; }

#form {
  background: url("../assets/img/dqhNDH.jpg") no-repeat;
  background-size: 100%;
  width: 70%;
  margin: 0 auto;
  padding: 1em; }
  #form h2 {
    font-size: 2.7em;
    color: #394fb3;
    font-weight: bold;
    text-align: center; }
  #form .line1 {
    display: inline-block;
    padding: 2.5em 1.5em 0 0;
    border-bottom: 1px solid #394fb3;
    margin: 2em;
    width: 40%;
    position: relative; }
    #form .line1:nth-child(3) {
      width: 90%; }
    #form .line1 label {
      font-size: 1.3em;
      color: #394fb3;
      text-align: left;
      position: absolute;
      padding-bottom: 3em; }
    #form .line1 input, #form .line1 textarea {
      border: none;
      background-color: transparent;
      font-size: 1.4em;
      padding: 0.3em;
      color: gray;
      width: 100%; }

@media all and (max-width: 900px) {
  #form .line1 {
    display: block;
    width: 90%;
    text-align: left; } }
@media screen and (max-width: 500px) {
  #form {
    padding: 1em; }
    #form h2 {
      font-size: 1.6em;
      padding: 1em; }
    #form .line1 {
      margin: 0.7em;
      display: block;
      width: 90%;
      text-align: left; }
      #form .line1 label {
        font-size: 1em;
        padding: 1em; } }
/* end section form */
/***************start myMap*************start myMap********start myMap****/
/*************Map_left_nav_bar***************************************/
#insidePage {
  font-family: Nexa-Light;
  color: white;
  margin: 0px;
  padding: 0px;
  /*************end_Map_left_nav_bar*******end_Map_left_nav_bar**/
  /***middleMAP*******middleMAP****middleMAP****middleMAP*****/
  /*end middle*/
  /*right*/
  /*end right*/ }
  #insidePage #insidePage.row {
    margin-left: -15px;
    margin-right: -15px; }
    #insidePage #insidePage.row .col-md-3 {
      margin: 0px;
      padding: 0px; }
  #insidePage .my-button, #insidePage .login button, .login #insidePage button {
    transition: all 0.1s;
    -webkit-transition: all 0.1s;
    padding: 0;
    margin: 1em 0em;
    border-radius: 10px;
    color: #5a6dc2;
    text-decoration: none;
    border: 1px solid #000066;
    background: linear-gradient(#0a1b6a, #102586, #0a1b6a);
    text-shadow: 0px -2px #102586;
    width: 140px;
    height: 30px;
    background-color: #0a1b6a;
    border-bottom: 3px solid #000066;
    z-index: 100; }
  #insidePage .my-button:active, #insidePage .login button:active, .login #insidePage button:active {
    transform: translate(0px, 5px);
    -webkit-transform: translate(0px, 5px);
    border-bottom: 0.5px solid; }
  #insidePage #left-panel {
    width: 100%;
    height: 468px;
    padding: 0px;
    background-color: #394fb3;
    display: inline-block;
    box-size: border-box;
    margin: 0%; }
    #insidePage #left-panel #places-holder {
      width: 100%;
      height: 234px; }
    #insidePage #left-panel #route-holder {
      width: 100%;
      height: 234px; }
    #insidePage #left-panel h4 {
      text-shadow: 0px 2px 0px rgba(90, 109, 194, 0.5);
      font-weight: bold;
      color: #102586; }
    #insidePage #left-panel .line {
      width: 100%;
      border-top: 4px solid #0a1b6a;
      box-shadow: 0px 1px 0px rgba(16, 37, 134, 0.5); }
    #insidePage #left-panel h5 {
      color: #5a6dc2; }
    #insidePage #left-panel #check-boxes-container {
      width: 100%;
      height: 30em; }
      #insidePage #left-panel #check-boxes-container .squaredThree {
        display: block;
        float: left;
        width: 100%;
        position: relative;
        left: 0.1em; }
        #insidePage #left-panel #check-boxes-container .squaredThree label {
          margin-left: 1em;
          width: 7%;
          height: 1.2em;
          cursor: pointer;
          position: absolute;
          top: 0;
          left: 0;
          background: linear-gradient(top, #222 0%, #45484d 100%);
          border-radius: 4px;
          box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.5), 0px 1px 0px rgba(255, 255, 255, 0.4); }
          #insidePage #left-panel #check-boxes-container .squaredThree label:after {
            content: '';
            width: 9px;
            height: 5px;
            position: absolute;
            top: 4px;
            left: 4px;
            border: 3px solid #fcfff4;
            border-top: none;
            border-right: none;
            background: transparent;
            opacity: 0;
            transform: rotate(-45deg); }
          #insidePage #left-panel #check-boxes-container .squaredThree label:hover::after {
            opacity: 0.3; }
        #insidePage #left-panel #check-boxes-container .squaredThree .pois {
          width: 30%;
          height: 8%;
          color: #5a6dc2;
          margin-left: 15%; }
        #insidePage #left-panel #check-boxes-container .squaredThree input[type=checkbox] {
          visibility: hidden; }
          #insidePage #left-panel #check-boxes-container .squaredThree input[type=checkbox]:checked + label:after {
            opacity: 1; }
  #insidePage #start, #insidePage #end {
    margin-left: 1em;
    color: #5a6dc2; }
    #insidePage #start [placeholder], #insidePage #end [placeholder] {
      width: 181.33333px;
      height: 23.77143px;
      background-color: #394fb3;
      border: 0.01em solid #5a6dc2;
      padding-left: 4%;
      color: white;
      font-size: 0.81em;
      font-weight: bold; }
  #insidePage .metal, #insidePage #left-panel {
    background-image: -webkit-repeating-linear-gradient(left, rgba(10, 28, 107, 0) 0%, rgba(10, 28, 107, 0) 6%, rgba(10, 28, 107, 0.1) 7.5%), -webkit-repeating-linear-gradient(left, rgba(10, 28, 107, 0) 0%, rgba(75, 77, 88, 0) 4%, rgba(75, 77, 88, 0.03) 4.5%), -webkit-repeating-linear-gradient(left, rgba(10, 28, 107, 0) 0%, rgba(10, 28, 107, 0) 1.2%, rgba(10, 28, 107, 0.15) 2.2%), linear-gradient(180deg, #0a1c6b 0%, #102584 47%, #102584 53%, #0a1c6b 100%); }
  #insidePage #map-container {
    background-color: yellow; }
  #insidePage .map {
    width: 100%;
    height: 468px;
    border: 1px solid black;
    display: inline-block;
    box-size: border-box;
    padding: 0px; }
  #insidePage .gm-style-iw * {
    display: block;
    width: 100%;
    height: 100%; }
  #insidePage .gm-style-iw h4, #insidePage .gm-style-iw p {
    margin: 0;
    margin-left: 2%;
    padding: 0; }
  #insidePage .gm-style-iw a {
    color: #4272db; }
  #insidePage #left-navbar {
    width: 100%;
    height: 416px;
    background-color: pink; }

/*end myMap*/
/* footer */
footer {
  margin-top: 60px;
  background: #102586;
  padding-bottom: 0.5em; }
  footer #icons, footer p {
    display: inline-block;
    font-size: 0.9;
    padding: 1em;
    color: gray; }
    footer #icons a i, footer p a i {
      font-size: 1.3em;
      color: gray; }

.bold {
  font-weight: bold;
  color: white; }

a[href="#movies"] {
  display: block;
  font-size: 1.8rem;
  color: white;
  margin-left: 20px; }

#contacts {
  z-index: 10;
  width: 100px;
  color: white;
  position: fixed;
  bottom: 30px;
  right: 40px; }
  #contacts a {
    color: white;
    text-align: left;
    font-size: 3em; }
    #contacts a i {
      margin-left: 50px; }

/*tablet*/
@media all and (max-width: 900px) {
  footer {
    padding: 1.5em; }
    footer p {
      display: block;
      margin: 0;
      padding: 0.1em; }
    footer #icons, footer p {
      padding: 0.2em;
      font-size: 0.9em; } }
/*mobile*/
@media screen and (max-width: 500px) {
  footer {
    padding: 1em;
    padding-bottom: 1em; }
    footer div#icons {
      display: block;
      margin: 0 auto;
      text-align: center; }
    footer p {
      text-align: center;
      font-size: 0.7em;
      margin: 5px; }
      footer p.bold {
        font-weight: bold; }
    footer #contacts {
      display: none; } }
/* end footer */

/*# sourceMappingURL=style.css.map */
