@import '_colors.scss';
@import '_fonts.scss';
@import '_panel_sizes.scss';



body {
	background:  $blue4;
	font-family: Ailerons-Typeface;
}
a {
  text-align: center;
 font-family: Ailerons-Typeface;
	font-size: 1.5em;
  
  text-decoration: none;

}
#navbar-header{
	width: $totalWidth;
	height: $headerHeight;
	position: absolute;
	
	margin-left: -5em;
	

	#logo {
	
				width:$totalWidth*0.2;
				margin-left: 1em;
				position:relative;
				margin-right: 5em;
				font-weight: normal;
				color: $blue4;
				float:left;
				a{font-size: 2.5em;
				font-weight: bold;
				color: $blue4;
				}
					
	}
	#other-navbar{
	left: 10em;
		width:$totalWidth*0.6;
		display: inline-block;
		
		background-color: pink;
	}
}
#picture-background{
	width: totalWidth;
	height: $windowHeight;
	background-image: url("../img/Destinator-Cover.png");
	background-size: cover;
	background-repeat: no-repeat;

}
//start login
.signin {
  background-color: $blue4;
  font-family: 'Montserrat', sans-serif;
  color: #fff;
  font-size: 14px;
  letter-spacing: 1px;
}


#login-background{
	background-image:url("../img/Destinator-Cover.png");
	background-repeat:no-repeat;
	background-size: cover;
	background-attachment: fixed;

	font-family:Raleway, Open Sans, Droid Sans, Roboto,arial, sans-serif;
}
.blurred-bg{

	background-image: url("../img/Destinator-Cover_blur.png");
	background-repeat:no-repeat;
	background-size: cover;
	background-attachment: fixed;
	
   
	.tinted{
		background-image:linear-gradient(0deg, rgba(255,255,255,.2),rgba(255,255,255,.2)), url("../img/Destinator-Cover_blur.png");
		
	}
	.shaded{
		background-image: linear-gradient(0deg, rgba(0,0,0,.2),rgba(0,0,0,.2)), url("../img/Destinator-Cover_blur.png");
	}
}
.box{
	width:500px;
	height:300px;
  left: -webkit-calc( 50% - 250px );
  top:20%;
	position:absolute;
	border-radius:5px;
	box-shadow:0 20px 30px rgba(0,0,0,.6);
	border:1px solid rgba(255,255,255,.3);
	padding:20px;
	text-align: center;
	box-sizing: border-box;
	text-shadow:0 1px 1px rgba(0,0,0,.4);
  
	&:active{cursor:move}
}
h1,h2,a,p, button{
	color:white;
	font-weight:100;
  
	.tinted &{
		color:black;
		text-shadow:0 1px 1px rgba(255,255,255,.2);
	}
}

p{ margin: 20px }
.center {
 margin: 0 auto;
}
.login {
  position: relative;
  left: 13em;
  top: 2em;
  height: $halfWindowHeight*1.5;
  width: $oneThirdWidth*0.75;
  
  
  
  box-shadow: 0px 30px 60px -5px #000;
  
	h2 {
	  padding-left: 0.4em;
	  font-size: 1.2em;
	  text-transform: uppercase;
	  padding-bottom: 5px;
	  letter-spacing: 2px;
	  display: inline-block;
	  font-weight: 100;
	  &.active {
 		 border-bottom: 2px solid #1161ed;
	  }
	  &.nonactive {
  		color: rgba(255, 255, 255, 0.2);
	  }
	  &:first-child {
		  padding-left: 0px;
	  }
	  &>a {
	  text-decoration: none;
	  }
	
	}
	  p {
	  color: white;
	  }
	
	form {
	 
	    
		span {
		  color: rgba(255, 255, 255, 0.2);
		  text-transform: uppercase;
		  font-size: 1em;
		  opacity: 0.4; 
		  display: inline-block;
		  position: relative;
		  top: -50px;
		  transition: all 0.5s ease-in-out;
		}
		.text {
		  border: none;
		  width: 100%;
		  mrgin-left: 0px;
		  padding-left:0px;
		  display: block;
		  height: 15px;
		  border-radius: 20px;
		  background: rgba(255, 255, 255, 0.1);
		  border: 2px solid rgba(255, 255, 255, 0);
		  overflow: hidden;
		  margin-top: 5px;
		  transition: all 0.5s ease-in-out;
				&:focus {
				  outline: 0;
				  border: 2px solid rgba(255, 255, 255, 0.5);
				  border-radius: 20px;
				  background: rgba(0, 0, 0, 0);
					& + span {
				 		 opacity: 0.6;
					}
				}
		}
		
	}
 #input-holder{
 width: $oneThirdWidth*0.55;
 margin-left:1.2em;
 }
  button {
  
  background: $blue4;
  @extend .my-button;
  width: $oneThirdWidth*0.55;
  margin-left:1.2em;
  }
  a {
  color: white;
  font-size:1em;
  }
}


.login-form {
  height: 450px;
}
input[type="text"],
input[type="password"] {
  font-family: 'Montserrat', sans-serif;
  color: #fff;
}

input {
  display: inline-block;
  padding-top: 10px;
  font-size: 14px;
}

h2,
span,
.custom-checkbox {
  margin-left: 20px;
}

label {
  display: inline-block;
  padding-top: 10px;
  padding-left: 5px;
}

.signin {
  background-color: #1161ed;
  color: #FFF;
  width: 100%;
  padding: 10px 20px;
  display: block;
  height: 39px;
  border-radius: 20px;
  margin-top: 20px;
  transition: all 0.5s ease-in-out;
  border: none;
  text-transform: uppercase;
}

.signin:hover {
  background: #4082f5;
  box-shadow: 0px 4px 35px -5px #4082f5;
  cursor: pointer;
}

.signin:focus {
  outline: none;
}

hr {
  border: 1px solid rgba(255, 255, 255, 0.1);
  top: 50px;
  position: relative;
}

//end login


/* section form */
.button {
		padding: 2em 0;
		display: inline-block;
		margin-left: 33%;
	}
.btn {
	text-align: center;
	border: 1px solid white;
	color: white;
	border-radius: 3em;
	background: transparent;
	padding: 2em;
	width: 240px;
}
#form {
	background: url("../assets/img/dqhNDH.jpg") no-repeat;
	background-size: 100%;
	width: 70%;
	margin: 0 auto;
	padding: 1em;
		h2 {
	font-size: 2.7em;
	color: $blue2;
	font-weight: bold;
	text-align: center;
	}
	.line1 {
		display: inline-block;
		padding:2.5em 1.5em 0 0;
		border-bottom: 1px solid $blue2;
		margin: 2em;
		width: 40%;
		position: relative;
		&:nth-child(3){
			 width: 90%;
		}
		label {
			font-size: 1.3em;
			color: $blue2;
			text-align: left;
			position: absolute;
			padding-bottom: 3em;
		}
		input,textarea {
			border: none;
			background-color: transparent;
			font-size: 1.4em;
			padding: 0.3em;
			color: gray;
			width: 100%;
		}
	}
}

@media all and (max-width: 900px) {
#form .line1 {
		display: block;
		width: 90%;
		text-align: left;
	}
}
@media screen and (max-width: 500px) {
#form {
		padding: 1em;
			h2 {
				font-size: 1.6em;
				padding: 1em;
			}
			.line1 {
				margin: 0.7em;
				display: block;
				width: 90%;
				text-align: left;
				
				label {
				font-size: 1em;
					padding: 1em;
				}
			}
	}
}
/* end section form */
/***************start myMap*************start myMap********start myMap****/
/*************Map_left_nav_bar***************************************/
#insidePage {
	font-family: Nexa-Light;
	color: white;
	margin:0px;
	padding:0px; 
	#insidePage.row{
	margin-left: -15px;
	margin-right: -15px;
.col-md-3 {
	margin:0px;
	padding:0px; 
}
}
 

.my-button
{
	transition: all 0.1s;
	-webkit-transition: all 0.1s;
	
	padding: 0;
	margin: 1em 0em;
	border-radius: 10px;
	color: $blue1;
	text-decoration: none;	
	border: 1px solid $blue5;
	background: linear-gradient($blue4, $blue3, $blue4);
	text-shadow: 0px -2px $blue3;
	width: 140px;
	height: 30px;
	 background-color: $blue4;
	 border-bottom: 3px solid $blue5;
	 z-index:100;
}


.my-button:active
{
	transform: translate(0px,5px);
  	-webkit-transform: translate(0px,5px);
	border-bottom: 0.5px solid;
}
 
		
 #left-panel{
	 width:100%;
	 height: $windowHeight*0.9;
	 padding:0px;
	@extend .metal;
	 background-color: $blue2;
	display: inline-block;
	box-size: border-box;
	margin:0%;
	#places-holder{
		width:100%;
		height:$windowHeight*0.9*0.5;
		
	}
	#route-holder{
		width:100%;
		height:$windowHeight*0.9*0.5;
		
	}
	h4 {
		text-shadow: 0px 2px 0px rgba(90, 109, 194, .5);
		font-weight: bold;
		color: $blue3;
		
		}
	.line {
		width: 100%;
		border-top: 4px solid $blue4;
	  	box-shadow: 0px 1px 0px rgba(16, 37, 134, .5);
	}
	h5 {
		color: $blue1;
		}
		#check-boxes-container{
		width:100%;
		height: 30em;
.squaredThree {
	display: block;
	float:left;
	  width: 100%;
	  position: relative;
	  left: 0.1em;

	  label {
	  margin-left: 1em;
    width: 7%;
    height: 1.2em;
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(top, #222 0%, #45484d 100%);
    border-radius: 4px;
    box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,.4);
    &:after {
      content: '';
      width: 9px;
      height: 5px;
      position: absolute;
      top: 4px;
      left: 4px;
      border: 3px solid #fcfff4;
      border-top: none;
      border-right: none;
      background: transparent;
      opacity: 0;
      transform: rotate(-45deg);
    }
    &:hover::after {
      opacity: 0.3;
    }
  }
  .pois{
  width: 30%;
  height: 8%;
  color: $blue1;
  margin-left: 15%;
  
  }
  input[type=checkbox] {
    visibility: hidden;
    &:checked + label:after {
      opacity: 1;
    }    
  }
}
}
 }
 
 #start, #end {
 margin-left: 1em;
 color: $blue1;
 [placeholder] {
		width:$oneSixthWidth*0.85;
		height: $headerHeight*0.4;
		background-color: $blue2;
		border: 0.01em solid $blue1;
		padding-left:4%;
		color: white;
		font-size: $nav2fontSize*0.9;
		font-weight: bold;
	}
 }
.metal {
 	background-image: 
 	
 	-webkit-repeating-linear-gradient(left, hsla(229, 83%, 23%, 0) 0%, hsla(229, 83%, 23%, 0)   6%, hsla(229, 83%, 23%, .1) 7.5%),
    -webkit-repeating-linear-gradient(left, hsla(229, 83%, 23%, 0) 0%, hsla(229, 8%, 32%, 0)   4%, hsla(229, 8%, 32%, .03) 4.5%),
   -webkit-repeating-linear-gradient(left, hsla(229, 83%, 23%, 0) 0%, hsla(229, 83%, 23%, 0) 1.2%, hsla(229, 83%, 23%, .15) 2.2%),
    
    linear-gradient(180deg, hsl(229, 83%, 23%)  0%, 
    hsl(229, 79%, 29%) 47%, 
    hsl(229, 79%, 29%) 53%,
    hsl(229, 83%, 23%)100%);


}
/*************end_Map_left_nav_bar*******end_Map_left_nav_bar**/
/***middleMAP*******middleMAP****middleMAP****middleMAP*****/
#map-container{
	background-color:yellow;
}

.map {
	width: 100%;
	height: $windowHeight*0.9;
	border: 1px solid black;
	display: inline-block;
	box-size:border-box;
	padding: 0px;
}
.gm-style-iw * {
  display: block;
  width: 100%;
  height: 100%; }

.gm-style-iw h4, .gm-style-iw p {
  margin: 0;
  margin-left: 2%;
  padding: 0; }

.gm-style-iw a {
  color: #4272db; }
  


/*end middle*/
/*right*/
#left-navbar{
 	width: 100%;
	height: $oneFourFifthWindowHeight;
	background-color:pink;
}



/*end right*/
}
/*end myMap*/





/* footer */
footer {
	margin-top: 60px;
	background: $blue3;
	padding-bottom: 0.5em;
	#icons {
		display: inline-block;
		font-size: 0.9;
		padding: 1em;
		color: gray;
		a i {
			font-size: 1.3em;
			color: gray;
		}
	}
	p {
	@extend #icons;
	}
}

.bold {
	font-weight: bold;
	color: white;
}

a[href="#movies"] {
	display: block;
	font-size: 1.8rem;
	color: white;
	margin-left: 20px;
}

#contacts {
	z-index: 10;
	width: 100px;
	color: white;
	position: fixed;
	bottom: 30px;
	right: 40px;
	a {
		color: white;
		text-align: left;
		font-size: 3em;
		i{
			margin-left: 50px;
		}
	}
}



/*tablet*/
@media all and (max-width: 900px) {
footer {
		padding: 1.5em;
		
		p {
			display: block;
			margin: 0;
			padding: 0.1em;
			
		}
		#icons {
			padding: 0.2em;
			font-size: 0.9em;
		}
	}
}
/*mobile*/
@media screen and (max-width: 500px) {
footer {
		padding: 1em;
		padding-bottom: 1em;
		div#icons{
			display: block;
			margin: 0 auto;
			text-align: center;
		}
		p {
		text-align: center;
		font-size: 0.7em;
		margin: 5px; 
			&.bold {
			font-weight: bold;
			}
		}
		#contacts{
			display: none;
		}
	}
}
/* end footer */