<div id="insidePage" class="container">


<div class="row">

<div class="col-md-3">

	<div id="floating-panel">
	
	<div id="selection-panel">
	<form name="myForm" ng-click = "selectionClick()">
		<h3>Make a new trip</h3>
		<br/>
		<h4>Select points</h4>
		<label>
    		<input type="checkbox" ng-model="selectedAttractions.place_of_worship"  ng-change="changeSelectAttr()">
  		place of worship</label>
  		<br/>
		<label>
    		<input type="checkbox" ng-model="selectedAttractions.museum"  ng-change="changeSelectAttr()">
  		museum</label>
  		<br/>
		<label>
    		<input type="checkbox" ng-model="selectedAttractions.amusement_park"  ng-change="changeSelectAttr()">
  		amusement park</label>
  		<br/>
		<label>
    		<input type="checkbox" ng-model="selectedAttractions.art_gallery"  ng-change="changeSelectAttr()">
  		art gallery</label>
  		<br/>
  		<label>
    		<input type="checkbox" ng-model="selectedAttractions.poi"  ng-change="changeSelectAttr()">
  		other</label>
  		<br/>
		<button ng-click="showPlaces()">Show Places</button>
		
		
	
		<label for="startSelect"> Start Point </label>
		 
		<select name="startSelect" id="startSelect" ng-model="selectedOptionStart" ng-change="changeSelectStart()"  > 
		   <option value="">-Select Start-</option>
		    <option ng-repeat="option in data track by option.name" ng-value="option.position" selected="selectedOptionStart == option.position"  >
		    	{{option.name}}
		    </option>
		</select> 
		<label for="endSelect"> End Point </label>
		 
		<select name="endSelect" id="endSelect" ng-model="selectedOptionEnd" ng-change="changeSelectEnd()"> 
		   <option value="">-Select End-</option>
		    <option ng-repeat="option in data track by option.id" ng-value="option.position" selected="selectedOptionEnd == option.position"  >
		    {{option.name}}
		    </option>
		</select> 
	</form>
	<!-- ng-click="calcTimeAndLength()" -->

	<div > 
		<button ng-click="calcRoute()" ng-click="totalTimeMinutes()" ng-click="totalRouteKm()">See trip</button>
		 <span ng-model="totalTimeMinutes">Time Length: {{totalTimeMinutes()}} </span>
		 <span ng-model="totalRouteKm">Route Length: {{totalRouteKm()}}</span>
	</div>
	<div><label>Comment
		<textarea placeholder="make a comment"></textarea>
		</label>
	</div>
	<div>
		<label>Rate the trip
			<select name="rating" id="rating">
				<option ng-model="selectedRating.one"  ng-change="changeRating()">1</option>
				<option ng-model="selectedRating.two"  ng-change="changeRating()">2</option>
				<option ng-model="selectedRating.three"  ng-change="changeRating()">3</option>
				<option ng-model="selectedRating.four"  ng-change="changeRating()">4</option>
				<option ng-model="selectedRating.five"  ng-change="changeRating()">5</option>
			</select>
		</label>
	</div>
	<button ng-click="saveRoute()">Save Trip</button>
	<button ng-click="getAllRoutes()">get Trip</button>
	</div>
	
	<!-- <tt>model = {{selectedOptionEnd}}</tt><br/> -->
	</div>
</div>
<div class="col-md-6">
	<div class="map" id="map">{{'map'}}</div>
	<input id="pac-input" class="controls" type="text" placeholder="Type another city" ng-change="changeInput()"  ng-model="newCity" ng-trim="true">
</div>	

<div  class="col-md-3 col-sm-3 spaces" >
<div class="spaces">
	<button type="button" class="btn btn-default" data-toggle="collapse" data-target="#demo">First</button>
  <div id="demo" class="collapse">
    1Lorem ipsum dolor sit amet, consectetur adipisicing elit,
    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
  </div>
  </div>
	

</div>
	
</div>
</div>
